[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/ESPAsyncTCP/ESPAsyncTCP"]
	path = lib/ESPAsyncTCP/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP
